.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.hr-about {
  border:none;
  border-top:1px dotted #000;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}
.saringan {
  font-size: 15px; font-family: 'Comic Sans MS';
}
.comicms {
  font-family: 'Comic Sans MS';
}
.top10 {
  margin-top: 10px;
}
.help-criteria {
  margin-left: 38px;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 15px;
}
.site__title1 {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-image: -moz-linear-gradient(92deg,#f35626,#feab3a);
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  background-image: -ms-linear-gradient(92deg,#f35626,#feab3a);
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;

  background-image: -o-linear-gradient(92deg,#f35626,#feab3a);
  -o-background-clip: text;
  -o-text-fill-color: transparent;
}
.site__title {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-image: -moz-linear-gradient(92deg,#f35626,#feab3a);
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  background-image: -ms-linear-gradient(92deg,#f35626,#feab3a);
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;

  background-image: -o-linear-gradient(92deg,#f35626,#feab3a);
  -o-background-clip: text;
  -o-text-fill-color: transparent;
}
.three-column {
  height: 410px;
  border: 1px solid #E7E7E7;
}
.p-desc {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px; 
}
.card-custom {
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: 1px;
}
.card-custom-bookmark {
  font-size: 14px;
  font-family: 'Comic Sans MS';
}
.img-card-custom {
  width: 100%;
  height: 150px;
}
.blockquote-loc {
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 12px;
}
.blockquote {
  font-size: 12px;
  text-align: justify;
}
.prof {
  font-weight: normal;
}
.div-profile {
  margin-bottom: 15px;
  margin-top: -5px;
}
.bottom25 {
  margin-bottom: 25px;
}
.top25 {
  margin-top: 25px;
}
.profile {
  font-size: 13.5px;
}
.card-profile {
  border-radius: 10px;
}
.top70 {
  margin-top: 70px;
}
.img-profile {
  max-width: 280px;
  max-height: 320px;
  min-width: 280px;
  min-height: 320px;
  border-radius: 10px;
}
.about-profile {
  max-width: 278px;
  max-height: 354px;
  min-width: 278px;
  min-height: 354px;
  border-radius: 10px;
}
.img-filtered {
  width:120px;height:120px;margin:-10 -10 -10 -10;float: left;
}
.bkmk-home {
  float: right; color: #019987;
}
.see-all-home {
  font-size: 16px; font-weight: bold; font-family: 'Arial';
}
.cat8 {
  text-align: center; padding-bottom: 10px; padding-top: 10px;
}
.notfound-2-left {
  margin-top: 10px;
  margin-bottom: 66px;
}
.notfound-2 {
  margin-bottom: 60px;
  margin-top: 70px;
}
.top-4 {
  margin-top: -4px
}
.btn-form {
  color: white;
  background-color: orange;
}
.btn-form:hover {
  color: white;
  background-color: #e89002;
}
.form-hd {
  border: 1px solid #C2C2C2;
  margin-bottom: 30px;
}
.form-heading {
  margin-top: 30px;
  font-size: 20px;
}
.form-info {
  border-radius: .3em;
}
.rule {
  margin-left: -25px;
}
.info-header {
  margin-left: 20px;
}
.opening {
  font-size: 19px;
}
.img-info {
  display: inline-block;
  float: left;
}
.cont {
  font-family: 'Comic Sans MS'
}
.side-info {
  border-radius: .7em;
  line-height: 30px;
}
.subcontent {
  margin-top: 50px;
}
.bot110 {
  margin-bottom: 110px;
  margin-top: -30px;
}
.top-inv110 {
  margin-top: -110px;
}
.top110 {
   margin-top: 110px;
}
.background-search {
   background-color: #33B60F;
}
.login-header {
  color: grey;
  margin-right: 10px;
  margin-top: 20px;
}
.dropdown-login {
  color: grey;
  margin-top: 20px;
}
.left40 {
  margin-left: 40px;
}
.btn-login {
  width:80px;
  margin-top: 15px;
  margin-right: 30px;
}
.mr30 {
  margin-right: 30px;
}
.navbar-right-btn {
  margin-top: 15px;
  margin-right: 30px;
}
.logo-home {
  list-style-type:none;
  margin-top: 10px;
}
.form-add {
  color: red;
}
.textarea-cmt {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}
.review-body {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -10px;
}
.left120 {
  margin-left: 120px;
}
.send-btn {
  background-color: #22A79A;
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.rated {
   margin-left: 30px;
   font-color: grey;
   font-weight: bold;
   padding-top: 5px;
}
.rate {
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 4px;
}
.comment-name {
  margin-left: 100px;
  font-size: 18px;
}
.comment-date {
  margin-left: 100px;
  font-size: 14px;
  color: grey;
}
.comment-name-sm {
  margin-left: 60px;
  font-size: 16px;
}
.comment-date-sm {
  margin-left: 60px;
  font-size: 12px;
  color: grey;
}
.comment-content-sm {
  margin-left: 60px;
  font-size: 14px;
}
.comment-img {
  width: 70px;
  height: 70px;
}
.comment-img-sm {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 8px;
}
.criteria {
  font-size: 16px;
  margin-top: 16px;
}
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 5px;
  font-size: 28px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-fasilitas-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-kebersihan-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-kenyamanan-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-pelayanan-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-harga-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-fasilitas-1:checked ~ label.star:before { color: #d11717; }
input.star-fasilitas-1:hover ~ label.star:before { color: #d11717; }
input.star-fasilitas-2:checked ~ label.star:before { color: #F62; }
input.star-fasilitas-2:hover ~ label.star:before { color: #F62; }
input.star-fasilitas-3:checked ~ label.star:before { color: #ff9e20; }
input.star-fasilitas-3:hover ~ label.star:before { color: #ff9e20; }
input.star-fasilitas-4:checked ~ label.star:before { color: #ffc720; }
input.star-fasilitas-4:hover ~ label.star:before { color: #ffc720; }
input.star-fasilitas-5:hover ~ label.star:before { color: #FE7; }

input.star-kebersihan-1:checked ~ label.star:before { color: #d11717; }
input.star-kebersihan-1:hover ~ label.star:before { color: #d11717; }
input.star-kebersihan-2:checked ~ label.star:before { color: #F62; }
input.star-kebersihan-2:hover ~ label.star:before { color: #F62; }
input.star-kebersihan-3:checked ~ label.star:before { color: #ff9e20; }
input.star-kebersihan-3:hover ~ label.star:before { color: #ff9e20; }
input.star-kebersihan-4:checked ~ label.star:before { color: #ffc720; }
input.star-kebersihan-4:hover ~ label.star:before { color: #ffc720; }
input.star-kebersihan-5:hover ~ label.star:before { color: #FE7; }

input.star-kenyamanan-1:checked ~ label.star:before { color: #d11717; }
input.star-kenyamanan-1:hover ~ label.star:before { color: #d11717; }
input.star-kenyamanan-2:checked ~ label.star:before { color: #F62; }
input.star-kenyamanan-2:hover ~ label.star:before { color: #F62; }
input.star-kenyamanan-3:checked ~ label.star:before { color: #ff9e20; }
input.star-kenyamanan-3:hover ~ label.star:before { color: #ff9e20; }
input.star-kenyamanan-4:checked ~ label.star:before { color: #ffc720; }
input.star-kenyamanan-4:hover ~ label.star:before { color: #ffc720; }
input.star-kenyamanan-5:hover ~ label.star:before { color: #FE7; }

input.star-pelayanan-1:checked ~ label.star:before { color: #d11717; }
input.star-pelayanan-1:hover ~ label.star:before { color: #d11717; }
input.star-pelayanan-2:checked ~ label.star:before { color: #F62; }
input.star-pelayanan-2:hover ~ label.star:before { color: #F62; }
input.star-pelayanan-3:checked ~ label.star:before { color: #ff9e20; }
input.star-pelayanan-3:hover ~ label.star:before { color: #ff9e20; }
input.star-pelayanan-4:checked ~ label.star:before { color: #ffc720; }
input.star-pelayanan-4:hover ~ label.star:before { color: #ffc720; }
input.star-pelayanan-5:hover ~ label.star:before { color: #FE7; }

input.star-harga-1:checked ~ label.star:before { color: #d11717; }
input.star-harga-1:hover ~ label.star:before { color: #d11717; }
input.star-harga-2:checked ~ label.star:before { color: #F62; }
input.star-harga-2:hover ~ label.star:before { color: #F62; }
input.star-harga-3:checked ~ label.star:before { color: #ff9e20; }
input.star-harga-3:hover ~ label.star:before { color: #ff9e20; }
input.star-harga-4:checked ~ label.star:before { color: #ffc720; }
input.star-harga-4:hover ~ label.star:before { color: #ffc720; }
input.star-harga-5:hover ~ label.star:before { color: #FE7; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.user_top {
  padding-top: 15px; padding-bottom: 15px;
}
.footer-lightgrey {
  background-color: #F5F5F5;
}
.greycolor {
  color: grey;
}
.rating-block {
  display: block;
  padding: 0 0 0 0;
}
.btn-review {
  position: absolute; display: inline-block; right: 24px; bottom: 24px;
}
.custom-right {
  float: right !important;
}
.table-of-contents {
  margin-top: 60px; }

.tabs-heading {
  font-weight: bold;
  font-size: 22px;
}
.edit-heading {
  font-weight: bold;
  font-size: 20px;
}
.tabs-top {
  border-top-right-radius: 8px!important;
  border-top-left-radius: 8px!important;
}
.tabs-bottom {
  border-bottom-right-radius: 8px!important;
  border-bottom-left-radius: 8px!important;
}
.more-item {
  display: inline-flex;
}
.margin-btm-5 {
  margin-bottom: 5px;
}
.place-card-title {
  font-size: 20px;
}
.place-card-subtitle {
  font-size: 14px;
}
.card-desc-1 {
   margin-top: -60px;
}
.img-places {
  width:753px; height:400px;
}
.img-places-top {
  border-top-right-radius: 0.5em;border-top-left-radius: 0.5em;
}
.crop {
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.crop img {
  width: 400px;
  height: 300px;
  margin: -75px 0 0 -100px;
}
.a-custom {
  color:#ff5c33!important;
}
.a-custom:hover {
  color:#FD987F!important;
}
.b-custom {
  color:#2d323a!important;
}
.b-custom:hover {
  color:grey!important;
}
.c-custom {
  color:#000000!important;
}
.c-custom:hover {
  color:#000000!important;
}
.d-custom {
  color:#838383!important;
}
.d-custom:hover {
  color:#ff5c33!important;
}
.pagination-pad {
  padding-left: 290px;
}
.nulpad {
   padding-left: 0px;
}
.left10 {
  margin-left: 10px;
}
.fil-city {
  font-weight: normal; color: black;
}
.categories-title {
  font-weight: bold;
  color: #ff5c33;
}
.top-custom-card {
  margin-top:-5px;
}
.footer-grey {
    background-color: #DFDEDE;
}
.header {
  margin-left:40px;
}
.left-search {
   margin-left: 290px;
}
.dropdown-hr {
	display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #fff;
}
.p-middle {
	margin-bottom: -30px;
	font-size: 16px;
}
.cards {
	 padding-top:50px;
}
.card-title {
	font-size: 20px;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 5px;
}
.card-desc {
	padding-bottom: 12px;
}
.img-round-top{
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
.img-card {
	width:100%;
	height:260px;
}
.content {
    text-align: center;
}
.home-banner {
	background-image: url(/images/home.jpg);
	height: 400px;
	width: 100%;
	position: relative;
}
.h50 {
	height: 50px;
}
.place-title {
  font-weight: bold;
  font-size: 30px;
}
.top-title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.top40 {
	padding-top: 40px;
}
.top130 {
	padding-top: 130px;
}
.left {
	display: inline-flex;
	vertical-align: middle;
	font-size: 21px;
}
.right10 {
	margin-right: 27px;
  margin-top:5px;
}
.top15 {
	margin-top: 15px !important;
}
.left60 {
	margin-left: 60px;
}
.right15 {
	padding-right: 15px;
}

/*MODAL*/
.modal-custom {
	max-width: 600px;
	width: 40%;
}

/*MIDDLE*/
.bycategory {
  width:100px;
  height:100px;
}
.category {
	width:60px;
	height:60px;
}
.cat:hover {
    filter: brightness(110%);
}
.nature {
	background-image: url(/images/wisata_alam.png);
	position: relative;
}
.middle {
  font-family: "Trebuchet MS";
}

/*FOOTER*/
.little-div {
  padding-bottom: 60px;
  font-family: 'Calibri';
}
.medium-div {
  padding-top: 8px;
  font-family: 'Calibri';
}
.mega-div {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Calibri';
}
.tabs-div {
  padding: 15 15 15 15;
  font-family: 'Calibri'; 
}
.footer-logo {
	width:60px;
	height:100px;
}
.fbimage {
  background-image: url(/images/sprites-social.png);
  background-repeat: no-repeat;
  background-position: -48px 0;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 11px;
}
.fbimage:hover {
    background-position: -48px -48px;
}
.twitterimage {
  background-image: url(/images/sprites-social.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 11px;
}
.twitterimage:hover {
    background-position: 0px -48px;
}
.googleplusimage {
  background-image: url(/images/sprites-social.png);
  background-repeat: no-repeat;
  background-position: -96px 0;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 11px;
}
.googleplusimage:hover {
    background-position: -96px -48px;
}